.container {
  background-image: url('https://e0.pxfuel.com/wallpapers/353/761/desktop-wallpaper-lofi-hip-hop-chill-beats-sleep-study-focus-relax-music-in-2022-computer-art-cute-laptop.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* 
.chat-container {
  overflow: auto;
} */

body {
  overflow: hidden;
}