.body-background {
  width: 100%;
  height: 100%;
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/029/320/295/original/bogdan-mb0sco-coffeeanim.gif?1601147277');
  background-repeat: no-repeat;
  background-size: 100% auto;
  
}
/* 
.chat-container {
  overflow: auto;
} */

body {
  overflow: hidden;
}